%html
  %body
    .user-container
      = render partial: 'shared/details_header'
      %main.user-new-main
        .main__entry
          .login-new_user
            %p
              新規会員登録
          .entry-box
            %button.entry-box__button__mail
              = link_to signup_all_path do
                = icon 'far', 'envelope', id: 'icon__mail'
                %p.mail__text メールアドレスで登録
            %button.entry-box__button__facebook
              = icon 'fab', 'facebook-square', id: 'icon__facebook'
              %p.mail__text Facebookで登録
              = link_to '', ""
            %button.entry-box__button__google
              = icon 'fab', 'google', id: 'icon__google'
              %p.mail__text Googleで登録
              = link_to '', "" 
      = render partial: 'shared/details_footer'