.index-header 
  .index-header__inner 
    .index-header__inner__top
      .index-header__inner__top--image
        = link_to root_path do
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1881812696"
      .index-header__inner__top--search
        = form_for "" do |f| 
          = f.text_field :content, class: 'header_search', placeholder: '  何かお探しですか?' 
          %label.form-mask 
            = f.submit 'Send', class: 'form__submit'
            = icon('fas', 'search', class: 'search-icon')

    .index-header__inner__bottom 
      .index-header__inner__bottom--left
        %ul.category-brand__list
          %li
            .category-brand__list--category 
              = icon('fas', 'list-ul', class: 'category-list-ul')
              = link_to categories_path do
                カテゴリーから探す
            -# カテゴリーの一覧です
            = render "products/index_category_list"
                         
          %li
            .category-brand__list--brand 
              = icon('fas', 'tag', class: 'brands-list-tag')
              = link_to "#" do
                ブランドから探す
              
      - if user_signed_in?
        .bottom-header__right__login
          %ul.devise-login
            %li
              = link_to "", class: "bottom-header__like__index" do
                = icon 'fa', 'heart', class: 'bottom-header__like__index--icon'
                %span いいね！一覧
            %li
              = link_to "", class: "bottom-header__information" do
                = icon 'fa', 'bell', class: 'bottom-header__information--icon'
                %span お知らせ
            %li
              = link_to "", class: "bottom-header__todo__list" do
                = icon 'fa', 'check', class: 'bottom-header__todo__list--icon'
                %span やることリスト
            %li
              = link_to mypages_path, class: "bottom-header__move__mypage" do
                = image_tag 'common/user-icon.png', alt: 'ユーザアイコン', class: 'bottom-header__move__mypage--icon', height: '30', width: '30'
                %span マイページ
      - else
        .bottom-header__right__logout
          %ul.devise-logout
            %li
              = link_to signup_path, class: "new-member-registration" do
                新規会員登録
            %li
              = link_to login_path, class: "log-in" do
                ログイン
