%nav.mypage-left
  .mypage-left__upper-list
    = link_to '#' do
      %p マイページ
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p お知らせ
      .notice--new 10
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p やることリスト
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p いいね！一覧
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 出品する
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 出品した商品 - 出品中
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 出品した商品 - 取引中
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 出品した商品 - 売却済み
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 購入した商品 - 取引中
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 購入した商品 - 過去の取引
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p ニュース一覧
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 評価一覧
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p ガイド
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p お問い合わせ
      = fa_icon "chevron-right", id: 'icon'

  %h3.mypage-left__head 売上・ポイント
  .mypage-left__lower-list
    = link_to '#' do
      %p 売上・振込申請
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p ポイント
      = fa_icon "chevron-right", id: 'icon'

  %h3.mypage-left__head 設定
  .mypage-left__lower-list
    = link_to '#' do
      %p プロフィール
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 住所変更
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 支払い方法
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p メール/パスワード
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 本人情報
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p 電話番号の確認
      = fa_icon "chevron-right", id: 'icon'
    = link_to '#' do
      %p ログアウト
      = fa_icon "chevron-right", id: 'icon'