%nav.mypage-left
  .mypage-left__upper-list
    = link_to '#' do
      %p マイページ
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p お知らせ
      .notice--new 10
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p やることリスト
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p いいね！一覧
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p 出品する
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to selled_mypages_path do
      %p 出品した商品 - 出品中
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p 出品した商品 - 取引中
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p 出品した商品 - 売却済み
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p 購入した商品 - 取引中
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p 購入した商品 - 過去の取引
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p ニュース一覧
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p 評価一覧
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p ガイド
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p お問い合わせ
      = icon 'fa', 'chevron-right', class: 'icon'

  %h3.mypage-left__head 売上・ポイント
  .mypage-left__lower-list
    = link_to '#' do
      %p 売上・振込申請
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p ポイント
      = icon 'fa', 'chevron-right', class: 'icon'

  %h3.mypage-left__head 設定
  .mypage-left__lower-list
    = link_to profile_mypages_path do
      %p プロフィール
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p 住所変更
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to credits_path do
      %p 支払い方法
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p メール/パスワード
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to identification_mypages_path do
      %p 本人情報
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to '#' do
      %p 電話番号の確認
      = icon 'fa', 'chevron-right', class: 'icon'
    = link_to logout_mypages_path do
      %p ログアウト
      = icon 'fa', 'chevron-right', class: 'icon'
