.tag-box__list
  = link_to '#', class: 'tag-box__list__content' do
    = image_tag 'common/mercari_profile.png', alt: 'icon', class: 'tag-box__list__content__icon', height: '48', width: '48'
    .tag-box__list__content__body
      .tag-box__list__content__body__text 明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
      .tag-box__list__content__body__time
        = icon 'far', 'clock', id: 'icon'
        %span 13 時間前
    = icon 'fa', 'chevron-right', id: 'chevron-right-icon'


  = link_to '#', class: 'tag-box__list__content' do
    = image_tag 'common/mercari_profile.png', alt: 'icon', class: 'tag-box__list__content__icon', height: '48', width: '48'
    .tag-box__list__content__body
      .tag-box__list__content__body__text 《お買い物応援キャンペーン》1,000円の商品を"実質1円"で購入できます！
      .tag-box__list__content__body__time
        = icon "far" "clock", id: 'icon'
        = icon "fa" "history", id: 'clock-icon'
        %span 15 時間前
    = icon "fa" "chevron-right", id: 'chevron-right-icon'

  .tag-box__list--bottom
    = link_to '一覧を見る', '#'