.mypage
  = render partial: "mypage-header"
  .mypage__main
    = render partial: "mypage-left"
    
    .edit-profile
      %h2.edit-profile__title プロフィール
      .edit-profile__form
        = form_for '' do |f|
          .edit-profile__form__upper
            = image_tag 'common/user-icon.png', alt: 'ユーザアイコン', class: 'edit-profile__form__upper--icon', height: '60', width: '60'
            = f.text_field :nickname, value: "aaa", placeholder: "bbb", class: 'edit-profile__form__upper--input'
          .edit-profile__form__lower
            = f.text_area :text, value: "aaa-text", placeholder: "例）こんにちは！", class: 'edit-profile__form__lower--text'
          .edit-profile__form__btn
            = f.submit "変更する", class: 'edit-profile__form__btn--submit'
