-# ID仮置きしてます。
-# 中途半端ですが、時間がある時に実装します。
%ul.index-category__lists
  %li.index-category__lists__parent
    %h3
      = link_to category_path(id: 1), class: "list-tag" do
        レディース
    %ul.index-category__lists__parent__child
      %li.index-category__lists__parent__child--child_list
        = link_to "#", class: "category-tag" do
          トップス 
        %ul.index-category__lists__parent__child--child_list__gra-child
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              Tシャツ/カットソー(半袖/袖なし)
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              Tシャツ/カットソー(七分/長袖)
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              シャツ/ブラウス(半袖/袖なし)
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              シャツ/ブラウス(七分/長袖)
          %li.index-category__lists__parent__child--child_list__gra-child--list          
            = link_to "#" do
              ポロシャツ
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              キャミソール
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              タンクトップ
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              ホルターネック
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              ニット/セーター
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              チュニック
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              ガーディガン/ポレロ
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              アンサンブル
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              ベスト/ジレ
          %li.index-category__lists__parent__child--child_list__gra-child--list
            = link_to "#" do
              パーカー

        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ジャケット/アウター
          %ul.index-category__lists__parent__child--child_list__gra-child
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                テーラードジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ノーカラージャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                Gジャン/デニムジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                レザージャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list          
              = link_to "#" do
                ダウンジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ライダースジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ミリタリージャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ダウンジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ジャンパー/ブルゾン
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ポンチョ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ロングコート
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                トレンチコート
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ダッフルコート
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ピーコート

        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            パンツ
          %ul.index-category__lists__parent__child--child_list__gra-child
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                デニム/ジーンズ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ショートパンツ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                カジュアルパンツ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ハーフパンツ
            %li.index-category__lists__parent__child--child_list__gra-child--list          
              = link_to "#" do
                チノパン
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ワークパンツ/カーゴパンツ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                クロップドパンツ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                サロペット/オーバーオール
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                オールインワン
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                サルエルパンツ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ガウチョパンツ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                その他

        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            スカート
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ワンピース
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            靴
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ルームウェア/パジャマ
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            レッグウェア
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            帽子
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            バッグ
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            アクセサリー
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ヘアアクセサリー
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            小物
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            時計

    %li.index-category__lists__parent
      %h3
        = link_to category_path(id: 187), class: "list-tag" do
          メンズ
      %ul.index-category__lists__parent__child

        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            トップス
          %ul.index-category__lists__parent__child--child_list__gra-child
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                Tシャツ/カットソー(半袖/袖なし)
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                Tシャツ/カットソー(七分/長袖)
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                シャツ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ポロシャツ
            %li.index-category__lists__parent__child--child_list__gra-child--list          
              = link_to "#" do
                タンクトップ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ニット/セーター
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                パーカー
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                カーディガン
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                スウェット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ジャージ
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ベスト
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                その他

        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ジャケット/アウター
          %ul.index-category__lists__parent__child--child_list__gra-child
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                テーラードジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ノーカラージャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                Gジャン/デニムジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                レザージャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list          
              = link_to "#" do
                ダウンジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ライダースジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ミリタリージャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ナイロンジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                フライトジャケット
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ダッフルコート
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ピーコート
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                ステンカラーコート
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                トレンチコート
            %li.index-category__lists__parent__child--child_list__gra-child--list
              = link_to "#" do
                モッズコート

        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            パンツ
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            靴
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            バッグ
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            スーツ
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            帽子
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            アクセサリー
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            小物
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            時計
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            水着
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            レッグウェア
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            アンダーウェア
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            その他
              
    %li.index-category__lists__parent
      %h3 
        = link_to category_path(id: 304), class: "list-tag" do
          ベビー・キッズ

      %ul.index-category__lists__parent__child
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ベビー服(女の子用)~95cm
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ベビー服(男の子用)~95cm
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ベビー服(男女兼用)~95cm
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            キッズ服(女の子用)100cm~
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            キッズ服(男の子用)100cm~
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            キッズ服(男女兼用)100cm~
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            キッズ靴
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            子ども用ファッション小物
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            おむつ/トイレ/バス
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            外出/移動用品
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            授乳/食事
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            ベビー家具/寝具/室内用品
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            おもちゃ
        %li.index-category__lists__parent__child--child_list
          = link_to "#", class: "category-tag" do
            行事/記念用品

    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          インテリア・住まい・小物
    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          本・音楽・小物
    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          おもちゃ・ホビー・グッズ
    %li.index-category__lists__parent
      %h3 
        = link_to category_path(id: 698), class: "list-tag" do
          コスメ・香水・美容
    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          家電・スマホ・カメラ
    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          スポーツ・レジャー
    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          ハンドメイド
    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          チケット
    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          自転車・オートバイ
    %li.index-category__lists__parent
      %h3 
        = link_to "#", class: "list-tag" do
          その他
    %li.index-category__lists__others
      %h3 
        = link_to categories_path class: "list-tag" do
          カテゴリー一覧