.recommend__title
  %h2 ピックアップブランド 
  
  .top-page__items-box
    .top-page__items-box--letter  
      = link_to "#", class: "new_arrival" do 
        シャネル 新着アイテム
    .top-page__items-box__content-boxes 
      - @products_chanel.each do |product|
        .top-page__items-box__content-boxes__content
          = link_to product_path(product.id), data: {"turbolinks" => false} do
            = image_tag "#{product.images.first.url}"
            .item__outline 
              .item__outline--product-name
                = product.name
              .item__outline--product-price
                = number_to_currency product.price   
                .items__outline--like
                  %span
                    = icon('far', 'heart', class: 'like-heart') 
                    1
              .item__outline--price_tax 
                %p (税込) 
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る

  .top-page__items-box
    .top-page__items-box--letter  
      = link_to "#", class: "new_arrival" do 
        ルイ ヴィトン 新着アイテム
    .top-page__items-box__content-boxes 
      - @products_vuitton.each do |product|
        .top-page__items-box__content-boxes__content
          = link_to product_path(product.id), data: {"turbolinks" => false} do
            = image_tag "#{product.images.first.url}"
            .item__outline 
              .item__outline--product-name
                = product.name
              .item__outline--product-price
                = number_to_currency product.price   
                .items__outline--like
                  %span
                    = icon('far', 'heart', class: 'like-heart') 
                    1
              .item__outline--price_tax 
                %p (税込) 
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る
  
  .top-page__items-box
    .top-page__items-box--letter  
      = link_to "#", class: "new_arrival" do 
        シュプリーム 新着アイテム
    .top-page__items-box__content-boxes 
      - @products_supreme.each do |product|
        .top-page__items-box__content-boxes__content
          = link_to product_path(product.id), data: {"turbolinks" => false} do
            = image_tag "#{product.images.first.url}"
            .item__outline 
              .item__outline--product-name
                = product.name
              .item__outline--product-price
                = number_to_currency product.price   
                .items__outline--like
                  %span
                    = icon('far', 'heart', class: 'like-heart') 
                    1
              .item__outline--price_tax 
                %p (税込) 
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る
  
  .top-page__items-box
    .top-page__items-box--letter  
      = link_to "#", class: "new_arrival" do 
        ナイキ 新着アイテム
    .top-page__items-box__content-boxes 
      - @products_nike.each do |product|
        .top-page__items-box__content-boxes__content
          = link_to product_path(product.id), data: {"turbolinks" => false} do
            = image_tag "#{product.images.first.url}"
            .item__outline 
              .item__outline--product-name
                = product.name
              .item__outline--product-price
                = number_to_currency product.price   
                .items__outline--like
                  %span
                    = icon('far', 'heart', class: 'like-heart') 
                    1
              .item__outline--price_tax 
                %p (税込) 
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る