
= render 'shared/index_header'

.index-banner-image 
  %img{src: "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?4216410007", alt: "pick_key_image"}
  
.pick-up-category
  %h2 ピックアップカテゴリー 
  .pick-up-box 
    .pick-up-letter  
      = link_to "#", class: "new_arrival" do 
        レディース 新着アイテム
    .pick-up-contents 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込)
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る
  
  .pick-up-box 
    .pick-up-letter  
      = link_to "#", class: "new_arrival" do 
        メンズ 新着アイテム
    .pick-up-contents 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込)
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る 
  
  .pick-up-box 
    .pick-up-letter  
      = link_to "#", class: "new_arrival" do 
        ベビー・キッズ 新着アイテム
    .pick-up-contents 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込)
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る 
  
  .pick-up-box 
    .pick-up-letter  
      = link_to "#", class: "new_arrival" do 
        コスメ・香水・美容 新着アイテム
    .pick-up-contents 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込)
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る


.pick-up-category
  %h2 ピックアップブランド 
  .pick-up-box 
    .pick-up-letter  
      = link_to "#", class: "new_arrival" do 
        シャネル 新着アイテム
    .pick-up-contents 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込)
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る
  
  .pick-up-box 
    .pick-up-letter  
      = link_to "#", class: "new_arrival" do 
        ルイ ヴィトン 新着アイテム
    .pick-up-contents 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込)
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る 
  
  .pick-up-box 
    .pick-up-letter  
      = link_to "#", class: "new_arrival" do 
        シュプリーム 新着アイテム
    .pick-up-contents 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込)
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る 
  
  .pick-up-box 
    .pick-up-letter  
      = link_to "#", class: "new_arrival" do 
        ナイキ 新着アイテム
    .pick-up-contents 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込) 
      .pick-up-content-category
        = link_to "#", class: "item_details" do
          %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
          .content_description 
            .item_name  
              %h3 Green-Bag
            .item_price_like 
              .item-price ¥ 3,000     
              .index_like_botton
                = icon('far', 'heart', class: 'like-heart') 
                1
            .item_price_tax 
              %p (税込)
    .show-all-items 
      = link_to "#", class: "show-all-items" do
        すべての商品を見る

= render 'shared/index_footer' 

= render 'shared/seller-icon'