-# トップページのヘッダーです
= render 'shared/index_header'

-# トップページのリコメンド用のslick画面です 
= render 'top_page_slick'

-# カテゴリー別で一覧表示されている箇所です 
= render 'pick_up_category'
  
-# ブランド別で一覧表示されている箇所です
= render 'pick_up_brands'

-# トップページのフッターです
= render 'shared/index_footer'

-# 出品ページへつながる写真のアイコンです
= render 'shared/seller-icon'
