.wrapper
  %header.buy-header
    ヘッダー
  %main.buy-main
    %section.buy__container
      %h2.buy__container-head
        購入内容の確認
      %section.buy__container-content
        .buy__product.inner
          %h3
            %img#image(src="https://previews.123rf.com/images/lkeskinen/lkeskinen1705/lkeskinen170500353/77407965-%E7%84%A1%E6%96%99%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB%E3%81%AE%E3%82%B9%E3%82%BF%E3%83%B3%E3%83%97.jpg" alt="サンプル画像")
          %p ショルダーバッグ
          = form_for '' do |f|
            .buy__product__costs
              %span.price ¥8,000
              %p.shipping-cost 送料込み
            .buy__product__button.not-have
              .points__box
                ポイントはありません
            .buy__product__price
              .price__table
                .price__table-payment
                  %span 支払金額
                .price__table-payment
                  %span ¥8,000
            .has-message
              %p この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
            .buy__product__button
              .points__box.on
                購入する
      %section.buy__container-content
        .buy__user.inner
          .buy__user__shipping-address
            %h4 配送先
            .postal-code
              %p 〒193-0834
            .address
              %p 東京都八王子市****町
              %p ***-***
            .name
              %p 佐々木貴啓
          .buy__user__change.clearfix
            = link_to "", class: 'links' do
              変更する
              = icon 'fas', 'chevron-right', id: 'chevron'            
      %section.buy__container-content
        .buy__payment.inner
          .buy__payment-method
            %h4 支払方法
            .number
              %p ************4242
            .limit-month
              %p 04/26
            .card-type
              %img(src="https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1905591235" alt="VISA")
          .buy__user__change.clearfix
            = link_to "", class: 'links' do
              変更する
              = icon 'fas', 'chevron-right', id: 'chevron'  
  %footer.buy-footer
    フッター
