= render 'shared/details_header'
.exhibition
  .exhibition__container
    .exhibition__head
      %h2.exhibition__head--title 商品の情報を入力
    .exhibition__main
      = form_for @product do |f|
        .exhibition__main__image-form.form
          %span.form__lavel--top 出品画像 
          %span.form__equired 必須
          %p.exhibition__main__image-form__text 最大10枚までアップロードできます
          //投稿画像プレビュー
          %ul.image-upload__preview
            //プレビュー表示変更の場合があるので以下の記述残しておきます。
            -# %li.image-upload__preview__list
            -#   .image-upload__preview__list__top
            -#     = image_tag "common/user-bg.jpg", size: "114x50", alt: "test", class: "image-upload__preview__list__top--image"
            -#   .image-upload__preview__list__bottom
            -#     %span.image-upload__preview__list__bottom--btn.btn-left 編集
            -#     %span.image-upload__preview__list__bottom--btn 削除
            //画像投稿フォーム
            = f.fields_for :images do |fi|
              .exhibition__main__image-form__upload.box-size--wide
                .exhibition__main__image-form__upload--text
                  %p ドラッグアンドドロップ
                  %p またはクリックしてファイルをアップロード
                = fi.file_field :url, autofocus: true, name: "images[1][url]", class: "exhibition__main__image-form__upload--file display-none", id: "image1"
              %p.error_message.type1

        //商品名フォーム
        .exhibition__main__name-form
          .form
            %span.form__lavel 商品名 
            %span.form__equired 必須
            .form__input
              = f.text_field :name, autofocus: true, placeholder: "商品名（必須40文字まで）", class: "form__input--box name_box_val"
              %p.error_message.type2
        
        //商品説明フォーム
        .exhibition__main__description-form
          .form
            %span.form__lavel 商品の説明 
            %span.form__equired 必須
            .form__input
              = f.text_area :description, autofocus: true, class: "form__input--textarea description_box_val", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
              %p.error_message.type3

        //カテゴリーフォーム
        .exhibition__main__category-form
          .exhibition__main__category-form__left.form
            .exhibition__main__category-form__left--title.form__lavel 商品の詳細
          .exhibition__main__category-form__right
            .form
              %span.form__lavel カテゴリー 
              %span.form__equired 必須

              //トップレベルカテゴリー
              .form__select.icon-relative.category_top
                %select.category_top--select.form__select--box
                  %option{value: 0} ---
                  %option{value: 1} レディース
                  %option{value: 2} メンズ
                  %option{value: 3} ベビー・キッズ
                  %option{value: 4} コスメ・香水・美容
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"

              //ミドルレベルカテゴリー
              .form__select.icon-relative.category_middle_1.display-none
                %select.category_middle--select.form__select--box
                  %option{value: 0} ---
                  %option{value: 1} トップス
              .form__select.icon-relative.category_middle_2.display-none
                %select.category_middle--select.form__select--box
                  %option{value: 0} ---
                  %option{value: 1} トップス
              .form__select.icon-relative.category_middle_3.display-none
                %select.category_middle--select.form__select--box
                  %option{value: 0} ---
                  %option{value: 44} ベビー服(女の子用)  ~95cm
              .form__select.icon-relative.category_middle_4.display-none
                %select.category_middle--select.form__select--box
                  %option{value: 0} ---
                  %option{value: 88} ベースメイク
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"

              //ボトムレベルカテゴリー
              .form__select.icon-relative.category_bottom.display-none
                = f.select :category_id, Category.grandchildren, prompt: "---", autofocus: true, class: "form__select--box"
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
              .form__select.icon-relative.category_bottom_1.display-none
                = f.select :category_id, Category.grandchild_1s, prompt: "---", autofocus: true, class: "form__select--box"
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
              .form__select.icon-relative.category_bottom_2.display-none
                = f.select :category_id, Category.grandchild_2s, prompt: "---", autofocus: true, class: "form__select--box"
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
              .form__select.icon-relative.category_bottom_3.display-none
                = f.select :category_id, Category.grandchild_3s, prompt: "---", autofocus: true, class: "form__select--box"
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"

              
              
            %p.error_message.type4
            -# = f.hidden_field :category_id

            //サイズ選択
            .form.lower-form.size-form.display-none
              %span.form__lavel サイズ
              %span.form__equired 必須
              .form__select.icon-relative
                = f.select :size, Product.sizes, autofocus: true, prompt: "---", class: "form__select--box"
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
                .error_message.type5

            .form.lower-form.brand-form.size-form.display-none
              %span.form__lavel ブランド
              %span.form__optional 任意
              .form__select.icon-relative
                = f.text_field :brand_id, autofocus: true, placeholder: "例）シャネル", class: "form__input__box--small brand_box_val"

            //商品状態選択
            .form.lower-form
              %span.form__lavel 商品の状態 
              %span.form__equired 必須
              .form__select.icon-relative
                = f.select :condition, Product.conditions, autofocus: true, prompt: "---", class: "form__select--box"
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
                .error_message.type6

        //配送方法グループ
        .exhibition__main__derivary-form
          .exhibition__main__derivary-form__left
            %span.form__lavel 配送について
            %span.form-icon
              = link_to '', class: 'form-icon__help' do
                = icon 'fas', 'question-circle', class: "form-icon__help--icon"
          
          //配送料選択
          .exhibition__main__derivary-form__right
            .form.delivery_price
              %span.form__lavel 配送料の負担 
              %span.form__equired 必須
              .form__select.icon-relative
                = f.select :delivery_price,[['---',""], ['送料込み（出品者負担）', '送料込み（出品者負担）'], ['着払い（購入者負担）', '着払い（購入者負担）']], {}, {class:"form__select--box delivery_price_value"}
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
                .error_message.type7

            //配送方法選択
            .form.lower-form.delivery_type.display-none
              %span.form__lavel 配送の方法
              %span.form__equired 必須

              //送料込み、着払いが、選択された時のフォーム
              .form__select.icon-relative.delivery_type_select
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
              %p.error_message.type8

            //地域選択
            .form.lower-form 
              %span.form__lavel 発送元の地域 
              %span.form__equired 必須
              .form__select.icon-relative
                = f.select :prefecture, Profile.prefectures, prompt: "---", class: 'form__select--box'
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
                %p.error_message.type9

            //日数選択
            .form.lower-form
              %span.form__lavel 発送までの日数 
              %span.form__equired 必須
              .form__select.icon-relative
                = f.select :delivery_days, Product.delivery_days, prompt: "---", class: "form__select--box"
                = icon 'fa', 'chevron-down', id: 'icon', class: "icon-relative--absolute"
                %p.error_message.type10

        //価格設定グループ
        .exhibition__main__price-form
          .exhibition__main__price-form__left
            %span.form__lavel 販売価格(300〜9,999,999)
            %span.form__icon
              = link_to '', class: 'form-icon__help' do
                = icon 'fas', 'question-circle', class: "form-icon__help--icon"
                  
          //価格入力
          .exhibition__main__price-form__right
            .price-form
              .price-form__text.form
                %span.form__lavel 価格
                %span.form__equired 必須
              .price-form__input
                %span.price-form__input--yen ¥
                = f.text_field :price, autofocus: true, placeholder: "例）300", class: "price-form__input--box", id: "textForm1"
              %p.error_message.type11

            .price__list
              .price__list__tax
                %p.price__list__tax--left 販売手数料(10%)
                %p.price__list__tax--right -
              .price__list__profit
                %p.price__list__profit--left 販売利益
                %p.price__list__profit--right -
        .exhibition__bottom
          .exhibition__bottom__text
            %div
              = link_to '禁止されている出品', '#'
              %span 、
              = link_to '行為', '#'
              %span を必ずご確認ください。
            %div
              %span またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to '偽ブランドの販売', '#'
              %span は犯罪であり処罰される可能性があります。
            %div
              %span また、出品をもちまして
              = link_to '加盟店規約', '#'
              %span に同意したことになります。
          .exhibition__bottom__btn
            = f.submit "出品する", class: 'exhibition__bottom__btn--submit'
          
            = link_to 'もどる', root_path, class: 'exhibition__bottom__btn--return'
= render 'shared/details_footer'
