.wrapper
  %header.buy-header
    = render 'shared/details_header'
  %main.buy-main
    %section.buy__container
      %h2.buy__container-head
        購入内容の確認
      %section.buy__container-content
        .buy__product.inner
          %h3
            = image_tag "#{@product.images.first.url}", class: 'image'
          %p
            = @product.name
          = form_with url: buy_trades_path,class: "buy_trade" do |f|
            .buy__product__costs
              %span.price
                = number_to_currency(@product.price)
              %p.shipping-cost 送料込み
            .buy__product__button.not-have
              .points__box
                ポイントはありません
            .buy__product__price
              .price__table
                .price__table-payment
                  %span 支払金額
                .price__table-payment
                  %span
                    = number_to_currency(@product.price)
            .has-message
              %p この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
            .buy__product__button
              = f.submit "購入する", class: "buy__product__button--submit"
      %section.buy__container-content
        .buy__user.inner
          .buy__user__shipping-address
            %h4 配送先
            .postal-code
              %p 〒193-0834
            .address
              %p 東京都八王子市****町
              %p ***-***
            .name
              %p 佐々木貴啓
          .buy__user__change.clearfix
            = link_to "", class: 'links' do
              変更する
              = icon 'fas', 'chevron-right', id: 'chevron'            
      %section.buy__container-content
        .buy__payment.inner
          .buy__payment-method
            %h4 支払方法
            .number
              %p ************4242
            .limit-month
              %p 04/26
            .card-type
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1905591235")
          .buy__user__change.clearfix
            = link_to "", class: 'links' do
              変更する
              = icon 'fas', 'chevron-right', id: 'chevron'  
  %footer.buy-footer
    = render 'shared/details_footer'
