.wrapper
  = render 'shared/index_header'
  .products
    .products__container
      %h1
        = @product.name
      .products__container__main
        .products__container__main__image__box
          .image_active
            = image_tag(@product.images[0][:image_url], id: 'image')
          .image_dots
            .image_dot.active
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
            .image_dot
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
            .image_dot
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
            .image_dot
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
            .image_dot
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
            .image_dot
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
            .image_dot
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
            .image_dot
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
            .image_dot
              = image_tag(@product.images[0][:image_url], id: 'smallimage')
        %table.products__container__main__detail_box
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "#{@product.user.nickname}", mypages_path , class: 'links'
                .faces
                  = icon 'fas','grin', id: 'grin'
                  %span 
                    = @product.user.profile.good
                  = icon 'fas','meh', id: 'meh'
                  %span 
                    = @product.user.profile.normal
                  = icon 'fas','frown', id: 'frown'
                  %span
                    = @product.user.profile.bad
            %tr
              %th カテゴリー
              %td
                = link_to "#{@product.category.parent}", "" , class: 'links'
                .categorys
                  = link_to "#", class: 'links' do
                    = icon 'fas', 'chevron-right', id: 'chevron'
                    = @product.category.child
                .categorys  
                = link_to "#", class: 'links' do
                  = icon 'fas', 'chevron-right', id: 'chevron'
                  = @product.category.son
            %tr
              %th ブランド
              %td
                = link_to "#{@product.brand}", "", class: 'links' 
            %tr
              %th 商品の状態
              %td
                = @product.status
            %tr
              %th 配送料の負担
              %td
                = @product.delivery_price
            %tr
              %th 配送の方法
              %td
                = @product.delivery_type
            %tr
              %th 配送元の地域
              %td
                = link_to "#{@product.prefecture}", "" , class: 'links'
            %tr
              %th 発送日の目安
              %td
                = @product.delively_days
      .products__container__price__box
        .price
          %span 
            = number_to_currency(@product.price)
        .tax
          %span (税込)
        .cost 
          - if @product.delivery_price == "送料込み(出品者負担)" then
            %span 
              送料込み(出品者負担)
          - else 
            %span
              着払い(購入者負担)
      .products__container__buy__box
        = link_to new_product_path ,class: "buy-btn" do
          購入画面に進む
      .products__container__comment__box
        %p.inner-comment 
          = @product.description
      .products__container__likereport__box.clearfix
        %button.like
          = icon 'far','heart', id: 'like'
          %span いいね! 
          -# likesテーブルから持ってくること（未実装
          %span.num 3
        %button.report
          = icon 'far','flag', id: 'flag'
          %span 不適切な商品の報告
        .safety
          = link_to "#", class: "safety-btn links-noline" do
            = icon 'fas','lock', id: 'lock'
            %span あんしん・あんぜんへの取り組み
    .comment__container
      = form_for '#' do |f|
        .comment__container__note
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .comment__container__textarea.clearfix
          = f.text_area :content, class: 'input-box__text'
          = f.submit 'コメントする', class: 'comment'
    .other__products
      .other__products__prev
        = link_to "#", class: 'links' do
          = icon 'fas', 'chevron-left', id: 'chevron' 
          バッグ
      .other__products__next
        = link_to "#", class: 'links' do
          ブレスレット
          = icon 'fas', 'chevron-right', id: 'chevron'
    %ul.sns__share
      %li.sns__share__list
        = link_to "#" do
          = icon 'fab','facebook-square', id: 'facebook'
      %li.sns__share__list
        = link_to "#" do
          = icon 'fab','twitter-square', id: 'twitter'
      %li.sns__share__list
        = link_to "#" do
          = icon 'fab','pinterest-square', id: 'pinterest'
  .details-pick-up-category
    .details-pick-up-box
      .details-pick-up-letter
        = link_to "#", class: "new_arrival links" do 
          %h2 出品者さんのその他の出品
          -# each文で回して表示する （未実装
      .details-pick-up-contents
        .details-pick-up-content-category
          = link_to "/products/details", class: "item_details" do
            %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
            .details-content_description 
              .details-item_name 
                %h3 Green-Bag
              .details-item_price_like 
                .details-item-price ¥ 3,000
                .details-index_like_botton
                  %span.icon
                    = icon('far', 'heart', class: 'like-heart ')
                  %span.details-index_like_botton--text 1
              .details-item_price_tax
                %p.details-item_price_tax--text (税込)
        .details-pick-up-content-category
          = link_to "/products/details", class: "item_details" do
            %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
            .details-content_description 
              .details-item_name 
                %h3 Green-Bag
              .details-item_price_like 
                .details-item-price ¥ 3,000
                .details-index_like_botton
                  %span.icon
                    = icon('far', 'heart', class: 'like-heart')
                  %span.details-index_like_botton--text 1
              .details-item_price_tax
                %p.details-item_price_tax--text (税込)
        .details-pick-up-content-category
          = link_to "/products/details", class: "item_details" do
            %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
            .details-content_description 
              .details-item_name 
                %h3 Green-Bag
              .details-item_price_like 
                .details-item-price ¥ 3,000
                .details-index_like_botton
                  %span.icon
                    = icon('far', 'heart', class: 'like-heart')
                  %span.details-index_like_botton--text 1
              .details-item_price_tax
                %p.details-item_price_tax--text (税込)                 
        .details-pick-up-content-category
          = link_to "/products/details", class: "item_details" do
            %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
            .details-content_description 
              .details-item_name 
                %h3 Green-Bag
              .details-item_price_like 
                .details-item-price ¥ 3,000
                .details-index_like_botton
                  %span.icon
                    = icon('far', 'heart', class: 'like-heart')
                  %span.details-index_like_botton--text 1
              .details-item_price_tax
                %p.details-item_price_tax--text (税込)                
        .details-pick-up-content-category
          = link_to "/products/details", class: "item_details" do
            %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
            .details-content_description 
              .details-item_name 
                %h3 Green-Bag
              .details-item_price_like 
                .details-item-price ¥ 3,000
                .details-index_like_botton
                  %span.icon
                    = icon('far', 'heart', class: 'like-heart')
                  %span.details-index_like_botton--text 1
              .details-item_price_tax
                %p.details-item_price_tax--text (税込)
        .details-pick-up-content-category
          = link_to "/products/details", class: "item_details" do
            %img{src: "https://static.mercdn.net/thumb/photos/m22301283822_1.jpg?1557200472", alt: "product_image"} 
            .details-content_description 
              .details-item_name 
                %h3 Green-Bag
              .details-item_price_like 
                .details-item-price ¥ 3,000
                .details-index_like_botton
                  %span.icon
                    = icon('far', 'heart', class: 'like-heart')
                  %span.details-index_like_botton--text 1
              .details-item_price_tax
                %p.details-item_price_tax--text (税込)                                
  = render 'shared/index_footer' 
