.new-registration-address 
  = render 'shared/registrations/address_header'
  .new-registration-address-wrapper
    %h2.new-registration-address__title 
      お届け先住所入力
    .new-registration-address_form 
      .new-registration-address_form__group 
        = form_for "" do |f|
          .new-registration-address_form__group--fullname
            %label.address-fullname
              お名前  
            %span.address-form-require
              必須
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）山田'  
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）彩' 

          .new-registration-address_form__group--kananame
            %label.address-kananame
              お名前カナ  
            %span.address-form-require
              必須
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）ヤマダ'  
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）アヤ' 

          .new-registration-address_form__group--post-num
            %label.address-post-num
              郵便番号  
            %span.address-form-require
              必須
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）123-4567'  
        
          .new-registration-address_form__group--prefecture
            %label.address-prefecture
              都道府県 
            %span.address-form-require
              必須 
            .prefecture-selection-box
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--" 
              = icon 'fa', 'chevron-down', id: 'icon', class: "prefecture-selection-box--absolute" 

          .new-registration-address_form__group--city
            %label.address-city
              市区町村
            %span.address-form-require
              必須
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）横浜市緑区' 

          .new-registration-address_form__group--block-num
            %label.address-block-num
              番地
            %span.address-form-require
              必須
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）青山1−1−1' 

          .new-registration-address_form__group--building
            %label.address-building
              建物名
            %span.address-form-optional
              任意
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）柳ビル103'

          .new-registration-address_form__group--phone-num
            %label.address-phone-num
              電話
            %span.address-form-optional
              任意
            = f.text_field :name, class: 'address-registration-form', placeholder: '例）09012345678' 
          
          = f.submit "次へ進む", {class:"form-button"} 

    = render 'shared/details_footer'